@model IEnumerable<FarmersMart.Models.Product>
<div class="row">
    @foreach (var product in Model)
    {
        <div class="col-md-3">
            <div class="card">
                @*<img class="card-img-top" src="@product.ImageUrl" alt="Card image cap">*@
                <img class="card-img-top" src="./images/egg_plant.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">@product.Name</h5>
                    <p class="card-text">@product.Description</p>
                    <p class="card-text">Price: ₹@product.Price</p>
                    <a href="#" class="btn btn-primary">Add to Cart</a>
                </div>
            </div>
        </div>
    }
</div>
